#outer-box {
    background-color: purple
}

.box {
    padding: 10px;
    background-color: blue;
}

.inner-box {
    background-color: red;
}

p {
    margin: 0;
    color: yellow;
}

p.poseban {
    color: rgb(63, 217, 29);
}

.inner-box > p {
    color: white;
}
