body {
    background-color: antiquewhite;
}

.naslov {
    color: black;
}

li {
    color: red;
}

.klasa {
    color: #000;
}

#color {
    color: green;
}


li[type="bluecolor"] {
    color: blue;
  }